./comandos/07 RegistryyDistribuciondeImagenes.md
./ejercicios/Ejercicios07.md
./ejercicios/Ejercicios08.md
./presentaciones/07 Registry y Distribución de Imágenes.pptx
./respuestas/Respuestas07.md
./respuestas/Respuestas08.md